# Flutter
build/
.dart_tool/
.packages
.pub/
pubspec.lock

# Android
android/.gradle/
android/app/build/
android/local.properties
*.iml
.idea/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/xcuserdata/

# macOS
macos/Pods/
macos/.symlinks/
macos/Runner.xcworkspace/xcuserdata/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# IDE
.idea/
*.iml
.vscode/

# Build logs
*.log
